################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tennis-Refactoring-Kata/v14
/packages/NUnit.3.4.1
/Tennis/bin/Debug
/Tennis/obj/Debug
